{% extends 'base.html' %}

{% block content %}
  <h2>Historial de Consultas</h2>

  <form method="get" class="mb-4">
    <label for="fecha_inicio">Fecha de Inicio:</label>
    <input type="date" name="fecha_inicio" id="fecha_inicio" value="{{ request.GET.fecha_inicio }}">
    <label for="fecha_fin">Fecha de Fin:</label>
    <input type="date" name="fecha_fin" id="fecha_fin" value="{{ request.GET.fecha_fin }}">
    <button type="submit" class="btn btn-sm btn-primary">Filtrar</button>
  </form>

  <table class="table table-bordered table-striped">
    <thead class="thead-light">
      <tr>
        <th>Fecha</th>
        <th>Pregunta</th>
        <th>Hexagrama</th>
        <th>Nombre</th>
        <th>Nombre Chino</th>
        <th>Significado</th>
        <th>Recomendación</th>
        <th>Monedas</th>  <!-- Nueva columna -->
      </tr>
    </thead>
    <tbody>
      {% for consulta in consultas %}
        <tr>
          <td>{{ consulta.fecha|date:"Y-m-d H:i" }}</td>
          <td>{{ consulta.pregunta }}</td>
          <td>{{ consulta.hexagrama.numero }}</td>
          <td>{{ consulta.hexagrama.nombre }}</td>
          <td>{{ consulta.hexagrama.nombre_chino }}</td>
          <td>{{ consulta.hexagrama.significado }}</td>
          <td>{{ consulta.hexagrama.recomendacion }}</td>
          <td>
            {% for moneda in consulta.hexagrama.monedas %}
              {{ moneda }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="8">No has realizado consultas aún.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
