{% extends 'base.html' %}
{% block title %}{{ form.instance.pk|yesno:"Editar publicación,Nueva publicación" }}{% endblock %}

{% block content %}
  <h1>{{ form.instance.pk|yesno:"Editar publicación,Nueva publicación" }}</h1>

  <form method="post" enctype="multipart/form-data" class="mt-3">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a href="{% url 'publicacion_list' %}" class="btn btn-link">Cancelar</a>
  </form>
{% endblock %}
